/*Basics*/

body {
	background-color: #fff;
	color: #777;
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
}

p {
	line-height: 20px;
	margin-bottom: 20px;
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
}

h1 {
	font-family: 'Rambla', sans-serif;
	font-size: 38px;
	font-weight: 700;
	margin-bottom: 20px;
}

h2 {
	font-family: 'Karla', sans-serif;
	font-size: 32px;
	font-weight: 700;
	color: #444;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

h3 {
	color: #444;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Karla', sans-serif;
	font-size: 28px;
	font-weight: 700;
}

h4 {
	color: #444;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-family: 'News Cycle', sans-serif;
	font-size: 20px;
	font-weight: 700;
}

h5 {
	color: #444;
	text-transform: uppercase;
	font-family: 'News Cycle', sans-serif;
	font-size: 18px;
	font-weight: 700;
}

h6 {
	font-family: 'News Cycle', sans-serif;
	font-size: 16px;
	font-weight: 700;
}

.quote {
	font-family: 'Handlee', cursive;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: #444;
}

a:hover {
	color: #71A670;
}

strong {
	font-weight: bold;
}

small {
	font-size: 13px;
	color: #777;
	font-style: italic;
}

.clear {
	clear: both;
}

.wrapper {
	margin: 0 auto;
	padding: 0 10px;
	width: 940px;
}



/*Header*/

header {
	height: 120px;
	background-color: #1F2F3F;
}

header .logo {
	float: left;
	margin-top: 20px;
}

header h1 .color {
	color: #02b8dd;
}

header nav {
	float: right;
}

header nav ul li {
	float: left;
	display: inline-block;
	margin-top: 50px;
}

header nav ul li a {
	color: #F4F1E3;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	margin-right: 20px;
}

/*Hero Image*/

#hero-image {
	height: 580px;
	padding-top: 1px;
	background: #e8eced url('../images/herobanner.png') repeat-x center;
}

#hero-image h2 {
	margin: 180px 0 40px 0;
}

.button-1 {
	display: block;
	text-align: center;
	background: #444;
	border-radius: 3px;
	color: #fff;
	width: 180px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	margin: 0 auto;
	margin-top: 112px;
}

.button-1:hover {
	background-color: #FCD954;
	color: #676D75;
}

/*Features*/

#features ul {
	margin: 80px 0;
}

#features ul li {
	width: 300px;
	padding-top: 140px;
	float: left;
	margin-right: 10px;
	text-align: center;
}

#features ul li.feature-1 {
	background: url('../images/features-icon-1.png') no-repeat top center;
}
#features ul li.feature-2 {
	background: url('../images/features-icon-2.png') no-repeat top center;
}
#features ul li.feature-3 {
	background: url('../images/features-icon-3.png') no-repeat top center;
}


/*Primary Content*/

#primary-content {
	background-color: #f8fafa;
	padding: 60px 0;
	text-align: center;
}

#primary-content h3 {
	display: block;
	margin: 0 auto 20px auto;
	width: 400px;
	border-bottom: 1px solid #FCD954;
	padding: 0 0 20px 0;
}

#primary-content a img {
	margin: 20px 0;
}

/*Secondary Content*/

#secondary-content {
	padding: 60px 0;
	text-align: center;
}

#secondary-content article {
	width: 460px;
	height: 270px;
	float: left;
	background: #f5f5f5 url('../images/bg.jpg') no-repeat left top;
}

#secondary-content article:first-child {
	margin-right: 20px;
}

#secondary-content article .overlay {
	background: rgba(255, 255, 255, .95);
	height: 230px;
	width: 190px;
	padding: 20px;
}

article h4 {
	border-bottom: 1px solid #FCD954;
	padding-bottom: 20px;
}

.more-link {
	border: 1px solid #FCD954;
	color: #02b8dd;
	padding: 6px 20px;
	border-radius: 3px;
}

.more-link:hover {
	background-color: #02b8dd;
	color: #fff;
}

/*Call to Action*/

#cta {
	padding: 60px 0;
	text-align: center;
}

#cta h3 {
	display: block;
	margin: 0 auto 20px auto;
	width: 400px;
	border-bottom: 1px solid #FCD954;
	padding: 0 0 20px 0;
}

.button-2 {
	display: block;
	margin: 0 auto;
	border: 2px solid #1F2F3F;
	color: #1F2F3F;
	border-radius: 3px;
	width: 180px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
}

.button-2:hover {
	background-color: #1F2F3F;
	color: #fff;
}

/*Footer*/

footer {
	padding: 60px 0;
	background-color: #f8fafa;
}

#footer-info {
	width: 380px;
	float: left;
	margin-top: 10px;
}

#footer-links {
	width: 520px;
	float: right;
}

#footer-links ul {
	width: 150px;
	float: left;
	margin-left: 20px;
}

#footer-links ul li {
	margin: 10px 0;
}




















